/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --text-front: #FFFFFF;
  --text-medium: #d4d8dd;
  --surface-back: #132430;
  --surface-medium: #1E3342;
  --surface-bright: #FFFFFF;
  --highlight-default: #EB1C4E;
  --highlight-hover: #D31442;
  --border-medium: #61707B;

  /* Border Radius */
  --radius-sm: 3px;
  --radius-md: 6px;
  --radius-lg: 12px;

  /* Spacing */
  --space-none: 0px;
  --space-md: 8px;

}

/* Typography */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* Heading Styles */
.h1 {
  font-family: 'Inter';
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0.6px;
}

.h2 {
  font-family: 'Inter';
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0.4px;
}

.h3 {
  font-family: 'Inter';
  font-weight: 600;
  font-style: italic;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.4px;
}
.h4 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.h5 {
  font-family: 'Inter';
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

/* Medium Text Styles */

.md-regular {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.md-bold {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

/* Large Text Styles */
.lg-regular {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.lg-semibold {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.lg-bold {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}